venv/

dbt_project/data/raw/yahoofantasybaseball/oauth2.json

dbt_project/environment/duckdb0.7/.user.yml
dbt_project/logs/
dbt_project/target/

dbt_project/data/*

*/*/*/duckdb.db
dbt_project/reports/duckdb.db

*/node_modules/

logs/